.three-column{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
     height: 70px;
    background-color: #dfa2ef;
    
}
.heading{
    margin-bottom: 30px;
    
}
.nav-link{
    color: black;
   
}
.radius{
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
}
.cc{
    text-align: center;
    
}
.menu_cc{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    height: 350px;
    margin-bottom: 20px;

}
a{
    color: black;
    text-decoration: none;
}
.banner{
    display: flex;
    justify-content: center;
}
.nav-items{
    display: flex;
    column-gap: 40px;
    align-items: center;
font-size:25px;
font-family: Arial, Helvetica, sans-serif;
}
.nav-ac{
    display: flex;
    align-items: center;
    margin-right: 20px;
    
}
.search{
    display: flex;
    align-items: center;

}
   .second_content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;

     }
     .second_banner{
        display: flex;
        justify-content: center;
        margin-bottom:60px;
     }
  .three_img{
    display: flex;
    justify-content: space-evenly;
    column-gap:10px;
    margin-bottom: 60px;
    text-align: center;
  }

  .dis_banner{
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
    margin-bottom: 60px;
    
  }
  .bag_poster{
    display: flex;
    justify-content: space-evenly;
    column-gap:60px;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;

  }
 .para{
    color: orangered;
 }
  .kids_ban{
        display: flex;
        justify-content: center;
        margin-bottom:60px;

  }

  .kids_poster{
    display: flex;
    justify-content: space-evenly;
    column-gap:10px;
    margin-bottom: 60px;
    text-align: center;

  }
  footer{
    /* height: 400px; */
    background-color: #dfa2ef;
    /* margin-top: 20px; */
    padding-top: 40px;
   
     
  }
  .bottoms{
    display: flex;
    flex-direction:row ;
    
    margin-left: 25px;
 
    margin-right: 25px;
    justify-content: space-around;

  }
  .dd{
    margin-top: 0%;
  }
.foot_items{
    display: flex;
    
    flex-direction: column;
    margin-bottom: 20px;
}
.sec_foot_items{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom:20PX;

}
.thrd_foot_items{
    display: flex;
    flex-direction: column;
    margin-bottom:20px;

}
.frth_foot_items{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.fb{
    display: flex;
    flex-direction: row;
    }
    .ig{
        display: flex;
        flex-direction: row;
    }
    .twt{
        display: flex;
        flex-direction: row;
    }
    .pit{
        display: flex;
        flex-direction: row;
    }
    .www{
        display: flex;
        flex-direction: row;
    }
.qq{
    display: flex;
    flex-direction: column;
    
}
.qq a{
    margin-bottom: 20px;
}
.cart_list{
text-decoration: none;
font-size: 20px;  
list-style-type:none; 
font-size: 30px;
margin-left: 20px;
margin-top: 50px;

}
.account{
    text-decoration: none;
font-size: large;  
list-style-type:none; 
font-size: 30px;
margin-left: 20px;
margin-top: 50px;
}

.form{
    font-size: large;
    text-align: center;
    margin-top: 110px;
}
.about_heading{
    color: rgb(46, 4, 86);
    font-size: 20px;
    
}
.about_para{
    font-size: 50px;
    color: orangered;
}
.faqs_list{
    font-size: 35px;
    color: orangered;

}
.faqs_heading{
margin-top: 100px;
font-size: 25px;
}
.all_list{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin-top: 50px;
    font-size: 25px;
    color: blue;
    
}
.explore_list{
 text-decoration: none;
font-size: large;  
list-style-type:none; 
font-size: 30px;
margin-left: 30px;
margin-top: 50px;
}
.signup{
    text-align: center;
    margin-bottom: 60px;
    color:blue;
}
.reg-form{
    border: 1px solid  blueviolet;
    padding: 30px;
    width: 400px;
    margin: auto;
    border-radius: 20px;
}
.cart_list{
    color: orangered;
}
.contact-list{
    border: 1px solid  blueviolet;
    padding: 30px;
    width: 400px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
}
.contact{
    border: 1px solid blueviolet;
    padding: 30px;
     border-radius: 20px;
      margin-bottom:20px;
}
.contact-form{
    text-align: center;
    display: flex;
    justify-content: center;
   
}
.about-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.about_list{
    font-size: 10px;
}